<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Shows</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
    <%- include('admin-header'); -%>

    <div class="row">
      <div class="main">
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th>Movie Name</th>
                <th>Selected Seats</th>
                <th>Number of Tickets</th>
                <th>Total Cost</th>
                <th>Time of Booking</th>
              </tr>
            </thead>

            <tbody>
              <% if (bookingHistory.length === 0) { %>
                <tr>
                  <td colspan='100%'>No Booking History found</td>
                </tr>
              <% } %>
              <% bookingHistory.forEach(booking => { %>
                <tr>
                  <td><%=booking.movie_name%></td>
                  <td><%=JSON.parse(booking.seat_numbers)%></td>
                  <td><%=JSON.parse(booking.seat_numbers).length%></td>
                  <td><%=booking.cost%></td>
                  <td><%=booking.created_at%></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%- include('footer'); -%>
  </body>
</html>
